@import url(button.css);
@import url(normalize.css);
@import url(variable.css);
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}